.grid.env-grid
  box-sizing: border-box
  padding-top: $env-grid-header-height * 3

.editing-multiline-grid
  .grid.env-grid
    padding-top: $env-grid-header-height

  .sub-envs .grid.env-grid
    padding-top: 2px

.env-grid
  .grid-content
    margin-top: -3px

  .blocks
    margin-bottom: 3px

  .entry-col
    width: 25%
    display: inline-block
    // background: hsl(0,0,97)
    box-sizing: border-box

    .column
      width: 100%

  .val-cols
    width: 75%
    float: right

  .val-col
    float: left
    display: inline-block
    width: 33.33%
    box-sizing: border-box
    &:last-of-type
      border-right: none

// .app-role-development .env-grid
//   .entry-col
//     width: 33.33%

//   .val-cols
//     width: 66.66%

//   .val-col
//     width: 50%














