.grid .label-row
  height: $env-grid-header-height + 2px

.label-row
  position: fixed
  left: calc(#{$sidemenu-width} + (25% - #{$sidemenu-width / 4}))
  top: 0
  width: calc(100% - (#{$sidemenu-width} + (25% - #{$sidemenu-width / 4})))
  z-index: 4
  background: none
  white-space: nowrap

  .cols
    width: 100%
    height: 100%

  .label-cell
    box-sizing: border-box
    display: inline-block
    width: calc(33.33% - 0.25px)
    height: 100%
    border-right: 1px solid rgba(#000, 0.1)
    position: relative
    top: -2px

    +safari-only
      top: 0

    &:first-of-type
      width: calc(33.33% + 1px)

    &:last-of-type
      border-right: none
      // width: calc(33.33% - 1px)

    label
      color: #fff
      font-family: $condensed-font
      font-weight: 400
      font-size: 16px
      text-align: center
      text-transform: uppercase
      display: inline-block
      position: relative
      top: 11px
      width: 100%
      z-index: 1

      +safari-only
        +retina
          font-weight: 400
        +non-retina
          font-weight: 600

      small
        font-weight: 300
        color: rgba(#fff, 0.5)

    &.locked
      top: 0

    .img-locked
      margin-right: 12px
      line-height: 0
      position: relative
      top: 1.25px
      opacity: 0.25


    &.env-development
      background: darken($darker-blue, 3.5%)

    &.env-staging
      background: lighten($darker-blue, 3.5%)

    &.env-production
      background: $dark-blue

    .open-subenvs, .close-subenvs
      position: absolute
      left: 0
      top: 0
      width: 45px
      height: 100%
      text-align: center
      border-right: 1px solid rgba(#000, 0.1)
      z-index: 2
      cursor: pointer
      background: rgba(#fff, 0.0)
      transition: background 0.1s

      img, i
        color: #fff
        position: absolute
        top: 49%
        left: 50%
        transform: translate(-50%, -50%)
        opacity: 0.85
        transition: opacity 0.1s

      img
        width: 15.5px

      i
        font-size: 18px

      &:hover
        background: rgba(#fff, 0.1)
        img, i
          opacity: 1



// .app-role-development .label-row
//   .label-cell
//     width: 33.33%