.grid .label-row
  height: $env-grid-header-height

.label-row
  position: fixed
  right: 0
  top: $app-tab-height / 2
  width: calc(100% - #{$sidemenu-width})
  z-index: 3
  background: hsl(0,0,96)

  .cols
    width: 75%
    height: 100%
    float: right

  .label-cell
    box-sizing: border-box
    display: inline-block
    width: 33.33%
    height: 100%
    border-right: 1px solid rgba(#000, 0.1)

    &:first-of-type
      width: calc(33.33% + 1px)

    &:last-of-type
      border-right: none
      width: calc(33.33% - 1px)

    label
      color: #fff
      font-family: $heading-condensed-font
      font-weight: 400
      font-size: 14px
      text-align: center
      text-transform: uppercase
      display: inline-block
      position: relative
      top: 11px
      width: 100%

    &.env-development
      background: darken($darker-blue, 3.5%)

    &.env-staging
      background: lighten($darker-blue, 3.5%)

    &.env-production
      background: $dark-blue
