.settings
  padding: 25px
  max-width: 300px

  input, button
    width: 100%

  input
    margin-bottom: 10px

  input[disabled]
    color: hsl(0,0,60)
    cursor: not-allowed

  form.rename, form.object-form, .details
    padding: 0
    margin-bottom: 25px
    padding-bottom: 25px
    border-bottom: 1px solid hsl(0,0,93)

  form.object-form
    button, input[type=submit]
      background: lighten($darker-blue, 5%)

      &:not([disabled]):hover
        background: darken($darker-blue, 5%)


  .danger-zone
    h3
      font-family: $condensed-font
      text-transform: uppercase
      font-size: 16px
      border-bottom: 1px solid $light-orange
      padding: 10px
      color: #fff
      background: $orange
      font-weight: 400

    .content
      padding: 20px 20px
      width: 100%
      box-sizing: border-box
      border: 1px solid hsl(0,0,95)
      border-top: none


  .delete-field


    // button
    //   background: $orange
    //   &:hover
    //     background: darken($orange, 5%)

  fieldset
    > label
      text-transform: uppercase
      font-family: $condensed-font
      font-weight: 600
      font-size: 13px
      display: block
      margin-bottom: 10px
      color: hsl(0,0,75)

    > span
      font-size: 14px


  .details
    fieldset:not(:last-of-type)
      margin-bottom: 20px





