.settings
  padding: 25px
  max-width: 375px

  input, textarea, button
    width: 100%

  textarea
    min-height: 60px
    margin-bottom: 10px

  input, select
    margin-bottom: 10px

  input[disabled]
    color: hsl(0,0,60)
    cursor: not-allowed

  label
    text-transform: uppercase
    font-family: $condensed-font
    font-weight: 500
    font-size: 16px
    color: hsl(0,0,70)

    &.small
      font-weight: 400
      font-size: 13px
      color: $dark-blue
      display: inline-block
      margin-bottom: 10px

  input, textarea
    &.invalid
      border-color: $red
      outline-color: $red

  fieldset
    > label
      display: block
      margin-bottom: 15px

    > span
      font-size: 14px

    &.checkbox
      border: 1px solid hsl(0,0,90)
      box-sizing: border-box
      padding: 10px

      input
        width: auto
        float: right
        display: inline-block
        margin: 0
        font-size: 20px
        cursor: pointer

      label
        display: inline-block
        width: 100%
        cursor: pointer
        margin: 0
        line-height: 1
        font-size: 14px

  .msg
    color: $dark-text
    font-weight: 300

    &.small
      color: hsl(0,0,55)
      font-size: 12px

  .invalid-msg
    color: $red
    font-weight: 600
    font-size: 14px
    margin: 10px 0

  .details
    fieldset:not(:last-of-type)
      margin-bottom: 20px

    fieldset > label
      margin-bottom: 10px

    .status

      em
        font-weight: 600

      small
        color: hsl(0,0,60)
        font-size: 13px

        i
          position: relative
          top: 1px


  form.rename, form.object-form, .details
    padding: 0
    margin-bottom: 25px
    padding-bottom: 25px
    border-bottom: 1px solid hsl(0,0,90)

  form.object-form
    button, input[type=submit]
      background: lighten($darker-blue, 5%)

      &:not([disabled]):hover
        background: darken($darker-blue, 5%)

    &.auto-submit
      .small-loader
        display: block
        margin-top: 10px

  .update-password-form
    padding-bottom: 25px
    margin-bottom: 25px
    border-bottom: 1px solid hsl(0,0,90)

    .small-loader
      display: block
      margin-top: 10px

  .update-owner
    select
      width: 100%

    p
      line-height: 140%

  .danger-zone
    h3
      font-family: $condensed-font
      text-transform: uppercase
      font-size: 16px
      border-bottom: 1px solid $light-orange
      padding: 10px
      color: #fff
      background: $orange
      font-weight: 400

    .content
      padding: 20px 20px
      width: 100%
      box-sizing: border-box
      border: 1px solid hsl(0,0,90)
      border-top: none





