.login-register
  width: 40%
  min-width: 450px
  margin: 0 auto

  .msg strong
    font-weight: 400
    color: $lighter-blue


  .first-name, .last-name
    display: inline-block

  .first-name
    width: 35.5%
    margin-right: 3%

  .last-name
    width: 60.5%

  .password-input .confirm-passphrase
    margin-top: 10px

  .heard-about
    padding: 5px 0
    select
      width: 100%
      font-size: 13.5px
