.onboard-auth-form
  form
    max-width: 350px
    margin: 0 auto
    position: relative

  form button
    font-size: 16px
    height: 40px
    margin-top: 10px

    &[disabled]
      opacity: 0.5

  form input
    font-size: 14px

  form .spinner
    display: block
    margin-top: 20px
    svg
      width: 40px
      height: 40px

  .back-link
    +clearfix
    display: block
    cursor: pointer
    position: absolute
    bottom: 0px
    padding: 8px 0 20px
    left: 0
    width: 100%
    text-align: center
    transition: background 0.15s, color 0.15s
    font-size: 14px
    &, &:visited
      color: rgba(#fff, 0.3)
      text-decoration: none

      span.img
        position: relative
        top: 4px
        font-size: 30px
        margin-right: 5px

    &:hover
      background: rgba(#000, 0.2)
      color: #fff

  .passphrase-copy
    background: #000
    padding: 15px 0
    box-sizing: border-box

    font-size: 14px
    line-height: 150%
    color: rgba(#fff, 0.9)
    text-align: center
    margin: 25px auto

    strong
      font-weight: 400
      color: $lighter-blue

  &.create-org
    form
      margin-top: 20px
      input
        width: 100%

.demo-overlay .onboard-auth-form .spinner
  margin-top: 40px