.association-manager
  height: 100%
  position: relative

  &.user-app .association-row
    height: 45px
    .small-loader
      svg
        width: 20px
        height: 20px

  .onboard-slider
    position: absolute
    bottom: 30px
    left: 30px
    width: calc(67% - 60px)
    min-width: 530px
    max-width: 800px

  &.app-user, &.user-app
    position: fixed
    width: calc(100% - #{$sidemenu-width})

.show-bottom-alert .show-page .association-manager
  &.app-user, &.user-app
    height: calc(100% - 65px)