input
  font-family: $default-font
  color: $dark-text
  background: #fff
  border: 1px solid rgba(#000, 0.1)
  box-shadow: none
  font-size: 12px
  border-radius: 3px
  padding: 8px 10px
  box-shadow: inset 0px 0px 1px rgba(#000, 0.1)
  box-sizing: border-box

  +placeholder
    font-family: $default-font
    font-weight: 200
    color: hsl(0,0,70)

.prefixed-input
  position: relative
  > span
    display: inline-block
    background: hsl(0, 0, 92)
    height: 100%
    position: absolute
    box-sizing: border-box
    border: 1px solid rgba(#000, 0.08)
    border-right: none
    border-top-left-radius: 100px
    border-bottom-left-radius: 100px
    width: 35px
    text-align: center

    > img
      max-width: 16px
      max-height: 16px
      position: relative
      display: inline-block
      top: 50%
      transform: translateY(-50%)
      left: 1px

  input
    margin-left: 35px
    border-top-left-radius: 0px
    border-bottom-left-radius: 0px

form
  fieldset:not(:last-of-type)
    margin-bottom: 12px
    width: 100%

    input
      width: 100%

  button, input[type=submit]
    width: 100%

    &:not([disabled]):hover
      background: $light-blue

    .small-loader
      position: relative
      top: 2px

  .msg
    margin-bottom: 20px
    color: rgba(#fff, 0.9)
    font-size: 14px

form.object-form
  width: 100%
  box-sizing: border-box
  padding: 15px

  button
    background: $orange

    &:hover
      background: darken(desaturate($orange, 5%), 5%)

.org-role-select
  +clearfix

  label
    display: inline
    float: left

  select
    float: right
    position: relative
    top: -1px

.new-page .new-form
  width: 300px

