$default-font: "acumin-pro", arial, sans-serif
$heading-condensed-font: "acumin-pro-condensed", "Arial Narrow", arial, sans-serif
$code-font: Consolas, monospace

body
  font-kerning: normal
  font-variant-ligatures: common-ligatures contextual
  // -moz-font-feature-settings: "kern", "liga", "clig", "calt"
  // -ms-font-feature-settings: "kern", "liga", "clig", "alt"
  // -webkit-font-feature-settings: "kern", "liga", "clig", "calt"
  // font-feature-settings: "kern", "liga", "clig", "calt"

  font-family: $default-font
  color: $dark-text
  font-weight: 300


// .js.wf-loading
//   // &, body
//   //   overflow: hidden

//   p, h1, h2, h3, h4, h5, h6, span, a, select, input, button, label, li
//     visibility: hidden

//   input
//     +placeholder
//       color: white
