.billing
  section
    padding: 30px 30px 0

  h2
    color: $dark-blue
    font-family: $condensed-font
    font-size: 28px
    margin-bottom: 30px
    font-weight: 200

  h3
    color: $dark-text
    margin-bottom: 20px
    font-weight: 400

  .trial-remaining
    color: $dark-blue
    font-weight: 400
    margin-top: 30px

  .actions
    margin: 10px 0

  .confirm-cancel
    background: hsl(0,0,97)
    padding: 30px
    max-width: 600px
    margin: 20px 0

    h5
      color: $dark-blue
      font-size: 24px
      margin-bottom: 20px

    .cancel-warning
      strong
        display: block
        font-family: $condensed-font
        font-size: 18px
        text-transform: uppercase
        font-weight: 400
        color: $orange
        margin-bottom: 10px

      p
        line-height: 140%
        margin-bottom: 20px
        max-width: 500px

    .actions
      margin: 30px 0 0

      button
        margin-right: 20px

        &.confirm
          background: $orange

          &:hover
            background: darken($orange, 7%)

  .spinner





