.association-row .key-generated
  background: $light-blue
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0

  .top-row
    width: 100%
    text-align: center
    padding: 0 !important
    margin: 10px 0 5px

    .primary
      color: #fff
      font-weight: 500
      margin-right: 10px
      font-family: $code-font
      font-size: 15px

    .copy
      background: #0d5b7a
      height: auto
      padding: 3px 10px
      font-size: 11px

  .bottom-row
    margin-top: 10px
    box-sizing: border-box
    padding: 0 20px

    p, a, a:visited
      color: #126280
      font-size: 11.5px
      text-align: left
      line-height: 150%

    p
      margin-bottom: 5px

    a
      display: block
      text-decoration: none
      font-weight: 600

  .copied
    color: lighten($light-blue, 35%)
    font-size: 11px
    margin-left: 10px

  .close
    color: #fff
    position: absolute
    top: 0
    left: 0
    display: inline-block
    font-size: 12px
    padding: 5px 8px 7px
    cursor: pointer
    background: rgba(#000, 0.1)


