.environments
  width: 100%
  box-sizing: border-box

  .env-header
    position: fixed
    width: calc(100% - #{$sidebar-width + $app-tab-width})
    // margin-bottom: $app-tab-height
    top: 0
    z-index: 5
    left: $sidebar-width + $app-tab-width

  .add-assoc
    box-sizing: border-box
    padding-top: $env-grid-header-height

  .env-grid
    padding-top: $app-tab-height / 2

  .onboard-slider
    position: fixed
    bottom: 0
    z-index: 4
    left: $sidemenu-width
    width: calc(100% - #{$sidemenu-width})
    min-width: 800px
    border-left: none
    border-right: none
    border-bottom: none

    .slide-1 .small-divider
      margin-top: 25px

.environments.is-onboarding
  margin-bottom: 500px

.app-role-org_owner .environments:not(.did-onboard-import)
  &.is-onboarding
    margin-bottom: 0
  .onboard-slider
    position: static
    max-width: 625px
    margin: 40px
    border: 1px solid hsl(0,0,85)

