#preloader-overlay
  +overlay
  z-index: 99

#preloader
  +overlay-embed

  .logo
    display: block
    margin: 0 auto
    width: 185px
    margin-bottom: 20px

  .spinner
    display: block
    margin: 0 auto
    width: 40px
