.onboard-overlay

  .center-bg
    height: 95%
    width: 100%
    max-width: 800px
    margin: 0 auto
    box-sizing: border-box
    background: linear-gradient(to bottom, rgba(#000, 0.2), rgba(#000, 0.0))
    text-align: center

  .logo
    margin: 43px 0
    width: 100%
    position: relative
    left: -5px

    img
      width: 230px
      height: 59.23px
      transform: none

  h1, h2
    font-size: 30px
    color: #fff
    font-weight: 200
    display: inline-block
    position: relative
    z-index: 2
    line-height: 150%

    em
      color: $light-orange

  h1
    background: #2b2b2b
    padding: 0px 30px

  p
    font-size: 18px
    color: #fff
    line-height: 170%
    margin: 30px auto
    width: 90%
    max-width: 425px
    font-weight: 200

  .divider
    height: 1px
    width: 100%
    position: absolute
    top: 170px
    background: #000
    box-shadow: 0px 1px 1px rgba(#fff, 0.2)

  .onboard-app-form .app-form
    width: 90%
    margin: 15px auto 0
    max-width: 350px

    input
      margin-bottom: 15px
      font-size: 14px

    button
      max-width: 150px
      font-size: 16px

    .import-opts label
      color: #fff
      background: rgba(#fff, 0.05)
      margin-bottom: 20px

      > strong
        font-size: 17px

      > input, > strong
        position: relative
        top: 5px

      &.selected
        background: rgba($dark-blue, 0.4)
        > strong
          color: #fff

  .onboard-app-importer
    .tab-bar
      background: rgba(#000, 0.2)
      > span
        color: #fff
        background: rgba(#fff, 0.08)
        border-bottom: 1px solid rgba(#000, 0.8)

        > small
          color: $light-blue

        &.selected
          background: $darker-blue
          > small
            color: lighten($light-blue, 10%)

    button.secondary
      border: 1px solid rgba(#fff, 0.3)


